<launch>

    <node name="pathPlanning_Ca" pkg="pathPlanning_cc" type= "pathP_CC" output="screen" >
    </node>
   <node name="inverse_kinematics" pkg="inverse_kinematics" type= "inverseKinematics" output="screen" >
    </node>
    <node name="traj_plan" pkg="trajectory_planning_cc" type= "trajectory_planning" output="screen" >
    </node>


</launch>
