<launch>
    <node name="camera_calibration" pkg="camera_calibration" type="camera_calibration_node" output="screen">
    </node>

    <node name="master_sim" pkg="master_sim" type="master_sim_node" output="screen">
    </node>

    <node pkg="rosbag" type="play" name="player" args="/home/rnm/calibration.bag">
    </node>


</launch>