<launch>
    <node name="master_sim" pkg="master_sim" type="master_sim_node" output="screen"/>
   
   
   
    <!---include file="$(find franka_example_controllers)/launch/joint_position_example_controller_sim.launch" /-->
    <include file="$(find pathPlanning_cc)/launch/CamCalib_PathP.launch" />
   
    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch" />
    
    <node name="camera_calibration" pkg="camera_calibration" type="camera_calibration_node" output = "screen"/>
    
</launch>

    
