<launch>
    <node name="pc_sim" pkg="pc_sim" type="pc_sim_node" output="screen"/>
   
   
   
    <!---include file="$(find franka_example_controllers)/launch/joint_position_example_controller_sim.launch" /-->
    <include file="$(find pathplanning_model)/launch/mod_gen_pp.launch" />
    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch" />
   

    <node name="point_cloud_gen" pkg="point_cloud_generator" type="point_cloud_generator_node" output = "screen"/>
    
</launch>
